
<!-- Tool Detail Modal -->
<div class="modal fade" id="toolDetailModal" tabindex="-1" aria-labelledby="toolDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="toolDetailModalLabel">Tool Details</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="toolDetailContent">
                <!-- Tool details will be dynamically loaded here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary shadow-none" id="visitToolBtn" target="_blank">
                    <i class="fas fa-external-link-alt me-1"></i>
                    Visit Tool
                </a>
            </div>
        </div>
    </div>
</div>
